*{
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
 
}

.cards{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 350px 350px;
    grid-template-rows: 300px 300px;
    border-radius: 10px;
    gap: 30px;
    padding: 30px;
    

    
    
}

.box{
  
    background-color: rgba(255, 228, 196, 0.352);
    border-radius: 10px;
    align-items: center;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.214);
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;


    a{
        text-decoration: none;
        color: navy;
        font-size: 30px;
        font-weight: 600;
    }
}
.box:hover{
    color: rgb(4, 9, 14);
    cursor: pointer;
}

@media(max-width: 600px){
    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 90%;
    }

    .box{
        height: 30vh;
    }
}