.baground{
    background-image:linear-gradient(rgba(0, 0, 0, 0.514)), url(../assets/class.JPNG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo{
    text-align: center;
}

.body{
    background-color: rgba(0, 0, 128, 0.666);
    align-items: center;
    width: 40%;
    padding: 20px 15px;
    height: 48vh;
    border-radius: 15px;
    
}

.main{
    h1{
        text-align: center;
        color: rgb(170, 80, 80);
        font-family: Arial, Helvetica, sans-serif;
    }

    input{
        width: 95%;
        height: 7vh;
        border-radius: 20px;
        border: none;
        font-size: large;
        padding-left: 20px;
    }

    p{
        text-align: center;
        color: white;
    }
}

@media(max-width: 600px){
    .body{
        width: 80%;
        height: 40vh;
    
    }
    .main{


    input{
        width: 90%;
        height: 5vh;
        border-radius: 20px;
        border: none;
    }
}
}